@media (max-width:1640px){
  .desc-container {
    top: 17%;
  }
}

@media (max-width:1024px){
  .header__welcome {
    font-size: 10vw;
  }
  .desc {
    font-size: 7rem;
  }

}

@media (max-width:1024px) and (orientation: landscape){
  .desc {
    font-size: 5rem;
  }
  .header__welcome {
    font-size: 7vw;
  }
}

@media (max-width:960px){
  .desc {
    font-size: 4rem;
  }
}

@media (max-width:768px){
  .desc {
    font-size: 5rem;
  }
}

@media (max-width: 794px) {
  .icons-group {
    box-sizing: border-box;
    padding: 0 15px;
    position: absolute;
    left: 0;
    top: 175%;
    width: 100%;
    text-align: right;
    height: 22px;
    //background: rgba(224,129,129,0.9);
  }
  .counter__projects-number {
    font-size: 6rem;
}
}

@media (max-width:900px) {
  .about__rec-group {
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
  }

  .about__rectangle {
    margin: 15px 0;
    width: 100%;
  }

  .unique__tablet {
    grid-area: 1/1/6/9;
}
.unique_smartphone {
  grid-area: 4/5/6/9;
}

.unique__smartphone-img {
  bottom: -10vw;
}

.quote-text {
  font-size: 1.4rem;
  &::before {
    width: 100px;
    height: 100px;
    left: -110px;
  }

.author {
  font-size: 1.7rem;
  left: 210px;
  top: -30px;
}
}

}

@media (max-width:768px) {
  .header__nav {
    top: 0;
  }

  .menu__icon--search {
    margin: 0 10px;
  }
  .menu__icon {
    margin: 0 10px;
  }
  .search-input {
    color: #fff;
  }
  .search-input::-webkit-input-placeholder {
  color: #fff;
}
.search-input::-moz-placeholder {
  color: #fff;
}
.search-input.search-input:-ms-input-placeholder {
  color: #fff;
}
.search-input:-moz-placeholder {
  color: #fff;
}

.count {
  text-align: center;
}
}

@media (max-width:768px) and (orientation: landscape){
  .desc-container {
    top: 15%;
  }
  .desc {
    font-size: 6rem;
  }
}

@media (max-width:640px){
  .icons-group {
    display: block;
    box-sizing: content-box;
    padding: 8px 0px;
    position: relative;
    width: 100%;
    text-align: center;
    height: 22px;
    background: transparent;
    animation: fadein 1.5s;
    transition: all 0.8s;
  }

  .icons-group--background {
    transition: all 0.8s;
    animation: fadein 1.5s;
    background: rgba(0,0,0,0.5);
  }

  .menu {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgba(0,0,0,0.5);
    height: auto;
    transition:all 0.8s;
    overflow: hidden;
    visibility: visible;
    float: none;
    animation: fadein 1.5s;
  }

  .header__nav {
    flex-flow: column nowrap;
    top: 0;
  }

  .nav__site-title {
    margin: 10px 0 0 0;
  }

  .menu__item {
    margin: 10px 0;
  }

.header__nav {
  padding: 0;
  background: rgba(0,0,0,0.5);
  left: 0;
  transform: none;
}

.navigation-group {
  width: 100%;
}

.nav__hamburger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 10px;
  left: 90%;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 2.5rem;
}

.menu-close {

  display:none;
  visibility:  hidden;
  transition: all 0.8s;
  animation: fadeout 2s;
}

.nav__hamburger--active {
  color: #fce38a;
}
.desc {
  font-size: 3rem;
}

.services__service-group {
  height: auto;
}
.services__row1 {
  text-align: center;
  flex-flow: column nowrap;
}
.services__row2 {
  text-align: center;
  flex-flow: column nowrap;
}

.services__service {
  padding: 0 22px;
}
.service__photography::before {
  left: -42px;
  top: -8px;
}

.service__design::before {
  left: -42px;
  top: -8px;
}
.service__creativity::before {
  left: -42px;
  top: -8px;
}

.service__seo::before {
  left: -42px;
  top: -8px;
}
.service__html::before {
  left: -42px;
  top: -8px;
}
.service__digital::before {
  left: -42px;
  top: -8px;
}

.services__row1 {
  border-bottom: none;
}
.service__title {
  display: inline-block;
}

.accordion {
  grid-area: 2/2/2/2;
}

.accordion-pic {
  grid-area: 1/2/1/2;
}

.accordion-grid {
  grid-template: 50% 50%/1fr;
  min-height: 500px;
}

.quote-text {
  &::before {
    width: 80px;
    height: 80px;
  }
}

.wedo__quotes-container {
  margin: 85px auto 0 auto;
}
}

@media(max-width:530px) {
  .quote-text {
    max-width: 100%;
    &::before {
      display: none;
    }
}

.button {
  padding: 0;
}

.author {
  left: 50%;
}
}

@media(max-width:470px) {
  .counter__projects-number {
    font-size: 4rem;
  }

  .counter-item__desc {
    font-size: 1rem;
  }
}

@media (max-width: 360px) {
  .desc {
    font-size: 2rem;
  }
}

@media (max-width: 360px) and (orientation: landscape) {
  .header__welcome {
    font-size: 5vw;
    top: 33%;
  }
  .desc {
    font-size: 3rem;
  }

  .unique {
    padding: 0;
  }

  .unique__tablet {
      grid-area: 3/1/6/9;
  }

  .unique_smartphone {
      grid-area: 3/3/6/9;
  }

  .unique__smartphone-img {
    bottom: -7vw;
  }
}
